@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@750&display=swap');

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: black;
    font-family: 'Mulish', sans-serif;
}

main {
    flex: 1;
}

//ta inte bort andras styling
a {
    text-decoration: none;
    color: white
}

a:hover {
    text-decoration: underline;
}

.dropdown-item:hover {
    color: black;
}

.custom-background {
    background-color: #CDB991;
}

.c-bg-2 {
    background: #C1A875CC;
}

.trailer {
    min-height: 35vh;
    height: fit-content;
}

.img-max-height-5rem {
    max-height: 5rem;
}

.detail-poster {
    max-width: 20rem;
    max-height: 30rem;
    width: 100%;
    height: auto;
}

.confirm-poster {
    max-height: 20rem;
    width: auto;
    height: auto;
}

.movie-cover img {
    width: auto;
    height: 100%;
    max-height: 17rem;
}

.timeButton {
    width: 60%;

    p {
        padding: 0.3rem 0;
        margin: 0;
        height: 100%;
    }
}

.chair-button {
    transform: rotate(180deg);
    width: 1.8rem;
    height: 1.8rem;
}

.couch-font {
    font-Size: 1.4rem
}

.filter {
    background: #A3874E;
    text-align: center;
    padding: 1rem 0;
    margin: 1rem 0;
}

.bg-filter {
    background: #A3874E;
}

.custom-alert {
    position: absolute;
    color: darkred;
    padding: 0.2rem;
    font-size: 0.6rem;
    border: none;
    z-index: 1;
    background-color: transparent;
}