body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
    margin-top: 3rem;
    width: 100%;
    // background-color: blue;

}

//ta inte bort andras styling
a {
    text-decoration: none;
    color: white
}

a:hover {
    text-decoration: underline;
}

.dropdown-item:hover {
    color: black;
}

.custom-background {
    background-color: #CDB991;
}

.img-max-height-5rem {
    max-height: 5rem;
}

.trailer {
    width: 100%;
    height: 100%;
}

.img-max-height-20rem {
    margin-top: 8%;
    margin-bottom: 8%;
    max-height: 20rem;
    width: auto;
}

.chair-button {
    transform: rotate(180deg);
    width: 1.8rem;
    height: 1.8rem;
}

.couch-font {
    font-Size: 1.4rem
}



.container-loggedInView {

    border-radius: 3%;
    background-color: #CDB991;
    padding-top: 20px;
    height: 1800px;



    .container-loggedInView-aktiva-bokningar {


        margin-bottom: 300px;
    }


    h2 {
        margin-top: 10px;
        color: black;
        font-weight: 600;
    }

    .bookingDetail-loggedInView {

        height: 300px;
        background-color: black;
        padding: 20px;



        .bookingDetail-loggedInView-container {


            // justify-content: stretch;
            // align-items: top;
            // background-color: red;




            img {
                float: left;
                height: 250px;
                margin-right: 30px;
                // justify-self: right;

            }


            button {
                float: right;
                // width: 200px;
                padding: 10px 20px;
                background-color: #CDB991;
                font-weight: 600;

            }

        }

    }

}



.container-main {
    // background-color: red;

    width: 100%;

    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;


    .filter-main {


        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #C1A875;
        padding: 10px;
        margin: 0;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            width: 400px;


            .data-container {

                margin-left: 5px;
                margin-right: 15px;
            }

            .age-container {

                margin-right: 15px;

            }

            .filter-buuton {

                display: flex;
                justify-content: center;

            }
        }

    }


    .film-list {

        margin-top: 150px;
        margin-bottom: 150px;

        // background-color: red;
        display: flex;
        flex-direction: row;

        justify-content: center;

        align-content: center;

        flex-wrap: wrap;

        .film-list-item {
            display: flex;
            // background-color: blue;
            max-width: 200px;
            margin: 20px;
            justify-content: center;
            align-items: center;
            align-content: center;
            justify-items: center;

            .poster-img {
                display: block;

            }
        }
    }

    @media only screen and (max-width: 511px) {

        .film-list {
            justify-content: center;
            align-items: center;
            .film-list-item {
                display: flex;
                max-width: 120px;
                justify-content: center;
                align-items: center;
                .nav-link-main{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .poster-img {
                        display: block;
                        width: 100%;
                    }
                }
            }

        }
    }

}